* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 0px;
  background: rgba(132, 229, 241, 0.61);
  
}

.header {
  width: 1050px;
  padding: 10px;
  margin-right: 80px;
  margin-left: 200px;
  background: none;
  background-image: linear-gradient(to right, yellow , deepskyblue);
  -moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}
.poza{
  border-radius: 15px;
}
.titlu{
  left: 500px;
  top: 40px;
  position: absolute;
  font-size: 170%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.banner{
  position: relative;
  width: 1050px;
  -moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
margin-left: 200px;
margin-right: 80px;
margin-top: 20px;
}
.baner{
  -moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}

.nav {
  position: fixed;
  overflow: hidden;
  background-color: steelblue;
  padding:0px;
  height: 710px;
  margin-left:15px;
  padding: 0;
width: 150px;
list-style-type: none;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;

}

li a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  width: 150px;
  line-height: 75px;
height:75px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;

text-align: center;
}


li a:hover {
  background-color:rgba(255, 255, 255, 0.5);
  color: black;
  -moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}

.text{
  height: 1000px;
  width: 1050px;
  padding: 60px 60px;
  background: rgba(18, 194, 156, 0.726);
  margin-right: 80px;
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;
}


.footer {
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to right, yellow , deepskyblue);
  margin-top: 20px;
  width: 1050px;
  margin-left: 200px;
  -moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;

}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}


.button {
  border: solid;
  width: 150px;
  height: 80px;
  text-align: center;
  
  
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  left: 50px;
  margin-left: 150px;
}
.button2 {
  left: 500px;
  margin-left: 300px;
}
